.services {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  grid-gap: 2px;
}

.progression {
  background-image: url(../../../Images/progression.jpg);
  background-size: 100% 100%;
  width: 360px;
  height: 360px;
  background-repeat: no-repeat;
  background-position: relative;
  z-index: 100;
  text-align: center;
  color: white;
}

.workout {
  background-image: url(../../../Images/workout.jpg);
  background-size: 100% 100%;
  width: 360px;
  height: 360px;
  background-repeat: no-repeat;
  z-index: 100;
  text-align: center;
  color: white;
}

.nutrition {
  background-image: url(../../../Images/nutrition.jpg);
  background-size: 100% 100%;
  width: 360px;
  height: 360px;
  background-repeat: no-repeat;
  z-index: 100;
  text-align: center;
  color: white;
}
