ul li {
  list-style: none;
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  /* padding: 5px; */
}
ul li a {
  text-decoration: none;
  color: white;
}
a.active {
  color: orange;
}
ul li a:hover {
  color: orange;
  border: none;
  box-shadow: 0px 0px 0px 1px white;
  border-radius: 5px;
}

.nav_link {
  color: white;
  padding: 10px;
}

.nav_link:hover {
  color: orange;
}
