.common-banner {
  background-image: url(../../../Images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  background-position: relative;
}

.common-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-image: linear-gradient(120deg, #20201f, #222324);
  opacity: 0.6;
  /* z-index: 1; */
}

.common-banner-text {
  position: relative;
  margin-top: 200px;
}
